// Font family
$font: 'Inter', sans-serif;

// Font size
$f-button-m: 18px;
$f-subhead-m: 24px;
$f-head-m: 32px;
$f-li-m: 14px;
$f-add-m: 12px;

//Font weight
$f-superbold:900;
$f-bold: 700;
$f-regular:400;

//line-height
$line-1: 2.25rem;
$line-2: 1.5rem;